/* app.component.scss */

  
.app-container {
    font-family: Arial, sans-serif;
    background-color: #000; /* Màu nền đen */
    color: #fff; /* Màu chữ trắng */
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  h2{
    background-color: #4CAF50; /* Màu xanh lá cây */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  button {
    background-color: #4CAF50; /* Màu xanh lá cây */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049; /* Màu xanh đậm hơn khi hover */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tạo các cột động */
    gap: 15px; /* Khoảng cách giữa các ô */
    padding: 20px;
  }
  
  .grid-item {
    background-color: #222; /* Màu nền ô bài hát */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    align-items: center; /* Căn giữa các nội dung */
  }
  
  .grid-item img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng */
    border-radius: 5px;
  }
  
  .song-title {
    font-weight: bold;
    font-size: 1.2em; /* Kích thước chữ lớn hơn */
    margin: 10px 0 5px; /* Khoảng cách trên và dưới */
  }
  
  .song-description {
    color: #ccc; /* Màu xám nhạt cho mô tả */
    text-align: center; /* Căn giữa mô tả */
  }
  